.memes {
    width: 1985px;
    margin: auto;
    display: none;
    height: 100%;
    width: 100%;
    margin-block-end: 50px;
    align-content: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.memes .memes-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 210px);
    grid-auto-rows: 210px;
    gap: 25px;
    margin-top: 50px;
    margin-inline: 200px;
    margin-block-end: 50px;
}

.memes img {
    height: 210px;
    width: 210px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}