@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

* {
    font-family: roboto;
}

body {
    height: 100;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.canvas-container {
    height: 400px;
    width: 400px;
}

.main-canvas {
    margin-block-start: 156px;
    border-radius: 10px;
}

.edit-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-controls>:first-child {
    font-size: 24px;
    color: #727272;
}

.header-controls {
    width: 490px;
    display: flex;
    justify-content: space-between;
    padding: 21px;
}

.input-controls {
    max-width: 486px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    margin-bottom: 30px;
}

.input-controls>:first-child {
    border-bottom: 1px solid #EBEBEB;
}

.input-controls>:last-child {
    border: none;
    padding: 0;
    margin: 21px 0 26px 24px;
}

.input-controls>:last-child:focus {
    outline: none;
}

.control-btns {
    height: 13px;
    width: 16px;
    font-family: Georgia;
    position: relative;
    margin-inline-end: 20px;
}

.text-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-selector {
    width: 160px;
    height: 22px;
    font-size: 12px;
    border-radius: 2px;
    color: #989898;
    margin: 10px 23px 10px 12px;
}

.font-selector:focus {
    outline: none;
}

.meme-editor {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.meme-editor>:first-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 6;
}

.meme-editor>:last-child {
    flex: 4;
    justify-content: flex-start;
    align-items: center;
    background-color: #F8F8F8;
    height: 93vh;
}

.stikers {
    height: 165px;
    width: 486px;
    background-color: white;
    border-top: 1px solid #EBEBEB;
    display: grid;
    grid-template-columns: repeat(6, 81px);
    grid-template-rows: 81px 81px;
    padding: 5px;
    margin-bottom: 194px;
}

.stikers img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    cursor: pointer;
}

.font-size-btn {
    letter-spacing: 0;
}

.font-size-btn span {
    font-family: Georgia;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0;
}

.back {
    position: absolute;
    top: 24px;
    left: 48px;
    cursor: pointer;
}

.back p {
    color: #989898;
    display: inline;
    font-size: 14px;
    font-weight: 400;
    margin-inline-start: 3px;
    vertical-align: top;
}

.stroke-btn {
    font-family: Georgia;
    color: white;
    font-size: 18px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #727272;
    margin-bottom: 7px;
}

.share-btn {
    background-color: #FF9826;
    width: 140px;
    height: 54px;
    border-radius: 35px;
    border: 1px solid #FF9826;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    float: right;
}

.share {
    position: relative;
    align-self: flex-end;
    margin-inline-end: 60px;
}

.share-menu {
    list-style: none;
    position: absolute;
    height: 200px;
    width: 160px;
    background-color: rgb(252, 245, 222);
    top: -200px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 200; */
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.share-menu li:hover {
    background-color: rgb(226, 208, 138);
}


/* .share-btn:focus+.share-menu {
    transform: scaleY(1);
    height: 200px;
} */

body.share-open .share-menu {
    transform: scaleY(1);
}

@media (max-width:600px) {
    .canvas-container {
        height: 320px;
        width: 320px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }
    .main-canvas {
        margin-block-start: 0;
        /* width: 330px;
        height: 330px; */
    }
    .back {
        display: none;
    }
    .meme-editor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .meme-editor>:last-child {
        width: 377px;
    }
    .input-controls {
        max-width: 335px;
    }
    .header-controls {
        width: 335px;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-controls>:last-child {
        display: flex;
        justify-items: space-between;
    }
    .header-controls>:last-child * {
        justify-self: flex-start;
    }
    .header-controls>:first-child {
        font-size: 18px;
        color: #727272;
    }
    .stikers {
        height: 165px;
        width: 355px;
        background-color: white;
        border-top: 1px solid #EBEBEB;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
        grid-template-rows: 55px 55px;
        padding: 5px;
        margin-bottom: 194px;
    }
    .stikers img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}